* {
    margin:0;
    padding:0;
}
header {
    font-family: 'Silkscreen'; 
    font-size: 40px; 
}
nav {
    display: block;
    justify-content: space-between;
    padding: 2% 0%;
    font-family: 'Silkscreen';
    font-size: 22px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
body {
  margin: auto; 
    position: relative;
    text-align: center;
    justify-content:center; 
    
p {
    padding: 2% 4%;
    font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <550>;
  font-style: normal;
  margin:auto;
  display:flexbox
  position: relative;
    text-align: center;
    justify-content:center; 
}
h1 {
    font-family: 'Silkscreen', 'Verdana', sans-serif;
    font-size: 40px; 
}
h2 {
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 22px;
    font-weight: <500>;
}
.header {
    margin: auto; 
    position: relative;
    text-align: center;
    justify-content:center; 
}
