header {
    font-family: 'Silkscreen'; font-size: 40px;
}
nav {
    font-family: 'Silkscreen'; font-size: 22px;
}
body {
  font-family: 'Courier New', monospace;
}
h1 {
    font-family: 'Silkscreen'; font-size: 40px; Verdana, sans-serif;
}
h2 {
    font-family: 'Silkscreen'; font-size: 22px;
}
